elpa
elpa-27.1
elpa-27.2
elpa-28.1
elpa-28.2
*~
.bookmarks.el
recentf
smex-items
projectile-bookmarks.eld
projectile.cache
custom.el
.last-package-update-day
eshell/
transient
.lsp-session-v1
irony/

