elpa
elpa-*
*~
.bookmarks.el
recentf
smex-items
projectile-bookmarks.eld
projectile.cache
custom.el
.last-package-update-day
company-statistics-cache.el
eshell/
transient
.lsp-session-v1
irony/
eln-cache/

